<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65902580112-hjl6cb64cbja3grcf18hi7l7bmkiv6kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65902580112-hjl6cb64cbja3grcf18hi7l7bmkiv6kt</string>
	<key>API_KEY</key>
	<string>AIzaSyC0UCaMuwhvr5pxhcpyjb-jAnBzqLgpMdw</string>
	<key>GCM_SENDER_ID</key>
	<string>65902580112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messias.barreto.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-b2c6a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-b2c6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65902580112:ios:627431c70472ed8d0aa315</string>
</dict>
</plist>